{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven_form_node_form_alter()
 */
#}

{{ attach_library('cd_seven/node-form') }}

<div class="layout-node-form clearfix">
  <div class="layout-region layout-region-node-main">

    {{ form.title_field }}
    {{ form.language }}

    <fieldset class="main-inputs">

      {{ form.field_asst_status }}
      {{ form.field_asst_date }}
      {{ form.field_locations }}
      {{ form.field_asst_other_location }}
      {{ form.field_asst_report }}
      {{ form.field_asst_questionnaire }}
      {{ form.field_asst_data }}

    </fieldset>
    <fieldset class="details">

      {{ form.field_source }}  check this one
      {{ form.field_bundles }}  Clusters
      {{ form.field_organizations }}
      {{ form.field_organizations2 }}
      {{ form.field_population_types }}
      {{ form.field_coordination_hubs }}
      {{ form.field_disasters }}

    </fieldset>

    <fieldset class="hr-additional">
      <div class="toggle">

        {{ form.field_asst_subject }}
        {{ form.field_asst_sample_size }}
        {{ form.field_asst_methodology }}
        {{ form.field_level_of_representation }}
        {{ form.field_asst_key_findings }}
        {{ form.field_related_content }}
        {{ form.field_asst_unit }}
        {{ form.field_hid_contact_ref }}
        {{ form.field_asst_collection_method }}
        {{ form.field_themes }}

      </div>
      <div class="optional-fields">
        {% trans %}Click to add Subject, Methodology, Key Findings, Related content, and other details.{% endtrans %}
      </div>
    </fieldset>

    {{ form|without('advanced', 'footer', 'actions') }}

    {{ dpm(form) }}
  </div>
  <div class="layout-region layout-region-node-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-node-footer">
    <div class="layout-region-node-footer__content">
      {{ form.footer }}
      {{ form.actions }}
    </div>
  </div>
</div>
